node_modules
.env
.idea
/airport_database
/data/local-storage
/data/airport_database/000005.ldb
/data/airport_database/000006.log
/data/airport_database/CURRENT
/data/airport_database/LOCK
/data/airport_database/LOG
/data/airport_database/LOG.old
/data/airport_database/MANIFEST-000004
